<div>
    <mat-toolbar style="background-color: black;position: fixed;z-index: 9999;">
        <span style="color:white;margin-right:auto;cursor: pointer;" (click)="homepage()">
            <span style="font-size: 30px;">ShopNg.com</span></span>
        <div>
            <mat-icon matBadge="{{bagcount}}" (click)="goToCart()" matBadgeColor="warn"
                style="color:white;float: right;">shopping_cart</mat-icon>
        </div>
    </mat-toolbar>
</div><br><br>
<mat-divider></mat-divider>
<br><br>
<span style="font-size: 20px;margin-left: 20px;font-family: sans-serif;font-weight: 600;">My Wishlist</span>
<br>
<br>
<div class="col-sm-offset-1">
    <div class="col-sm-11" style="border: 0.149rem solid floralwhite;text-align: center;background: #fffdfbba;"><br>
        <div class="row">
            <div class="col-sm-12" style="text-align: -webkit-center;">
                <div class="col-sm-3" *ngFor="let product of data;let i=index">
                    <mat-card class="pd">
                        <img mat-card-image class="img" style="max-height:260px;margin: 0px" src="{{product.imageUrl}}">
                        <mat-card-content style="margin-bottom: -5px;">
                            <div style="font-family: cursive;font-weight: 600;" title="{{product.content}}">
                                {{product.name}}</div>
                            <div class="row">
                                <div style="font-family: sans-serif;font-weight: 600;float: left;padding: 0px 16px;">
                                    Rs.{{product.price}}</div>
                                <div style="font-family: sans-serif;font-weight: 600;float: right;margin: 0 20px;"
                                    title="Review Count">
                                    <i class="material-icons" matBadge="{{product.review}}">
                                        rate_review
                                    </i>
                                </div>
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <button (click)="addToCart(product.id)" mat-button style="float: right;" color="primary">Add
                                To Cart</button>
                            <button (click)="removefrombag(i)" mat-button color="warn">Remove</button>
                        </mat-card-actions>
                    </mat-card>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="text-align:center" *ngIf="data.length==0 ">
    <img src="assets/emptycart.png">
    <h3>Nothing in your Wishlist !</h3>
</div>